.center {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 164, 121);
    padding: 40px;

}